li a {
  text-decoration: none;
}

footer {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
footer h5 {
  font-weight: 600;
}
footer a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}